{% load static %}
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">

      <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>

        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>

        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>

        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>

        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>

        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>

        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>

        <div class="group relative bg-gray-50 p-4 rounded-xl">
          <div class="w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="{% static 'blooms/CBD-Blueten-Fleur-Purple.webp' %}" alt="Hand stitched, orange leather long wallet." class="size-full object-cover">
          </div>
          <h3 class="mt-4 text-sm text-gray-700">
            <a href="#">
              <span class="absolute inset-0"></span>
              VIP Purle Kush
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">< 0,2% THC</p>
          <p class="mt-1 text-sm font-medium text-gray-900">4,99€ / g</p>
          <div class="flex items-center gap-2 mt-2">
            <span class="bg-green-500 w-2 h-2 rounded-full"></span>
            <p class="text-gray-600 text-xs">Auf Lager</p>
          </div>
        </div>




      </div>
  
      <div class="mt-8 text-sm md:hidden">
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          Shop the collection
          <span aria-hidden="true"> &rarr;</span>
        </a>
      </div>
    </div>
  </div>