<template x-for="option in {{ options }}">
    <button @click="{{ on_click }}" type="button"
        class="relative text-center border rounded-md p-4"
        :class="{{ is_selected }} ? 'border-blue-500' : ''">

        <div class="flex absolute border-r border-b top-0 left-0 w-5 h-5 rounded-br-lg" :class="{{ is_selected }} ? 'bg-blue-500' : ''">
            <svg x-show="{{ is_selected }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white size-4" style="margin: 0.4px;">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
            </svg>
        </div>

        <p class="text-sm font-gray-600" x-text="option"></p>
    </button>
</template>