<nav class="flex justify-center w-full" aria-label="Progress">
  <ol role="list" class="flex items-center">
    <li class="relative pr-8 sm:pr-20">
      {% include "components/_step.html" with number="1" %}
    </li>
    <li class="relative pr-8 sm:pr-20">
      {% include "components/_step.html" with number="2" %}
    </li>
    <li class="relative pr-8 sm:pr-20">
      {% include "components/_step.html" with number="3" %}
    </li>
    <li class="relative pr-8 sm:pr-20">
      {% include "components/_step.html" with number="4" %}
    </li>
    <li class="relative pr-8 sm:pr-20">
      {% include "components/_step.html" with number="5" %}
    </li>
    <li class="relative">
      {% include "components/_step.html" with number="6" %}
    </li>
  </ol>
</nav>